<h2><%= t('.edit_multiple_logins', :count => @logins.size) %></h2>

<%= form_for :login, :url => update_multiple_logins_path, :html => { :method => :put, :class => 'form' } do |f| %>
  <ul class="asterisk" id="login_list">
    <% @logins.each_with_index do |login, i| %>
      <li<%= ' style="display: none"' if i >= 10 %>>
        <%= login.site.name %> / <%= login.username %>
        <%= hidden_field_tag "login_ids[]", login.id %>
      </li>
    <% end %>
  </ul>
  
  <p><%= link_to_function t(".show_all", :count => @logins.size), %{$$('#login_list li').each(function(element) { element.show() }); this.hide()} if @logins.size > 10 %></p>
  
  <p><%= t('.check_fields_you_want_to_change') %></p>
  
  <table class="edit-multiple">
    <tbody>
      <tr>
        <td><%= f.check_box :bulk_update_username, :onclick => "$('login_username').disabled = !this.checked" %></td>
        <td>
          <p class="form_item">
            <span class="label"><%= f.label :bulk_update_username, t('.username') %></span>
            <%= f.text_field :username, :disabled => true %>
          </p>
        </td>
      </tr>
      <tr>
        <td><%= f.check_box :bulk_update_password, :onclick => "$('login_password').disabled = !this.checked" %></td>
        <td>
          <p class="form_item">
            <span class="label"><%= f.label :bulk_update_password, t('.password') %></span>
            <%= f.password_field :description, :disabled => true %>
          </p>
        </td>
      </tr>
      <tr>
        <td><%= f.check_box :bulk_update_description, :onclick => "$('login_description').disabled = !this.checked" %></td>
        <td>
          <p class="form_item">
            <span class="label"><%= f.label :bulk_update_description, t('.description') %></span>
            <%= f.text_field :description, :disabled => true %>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  
  <p><%= f.submit t('.update_logins') %></p>
<% end %>
