<h2><%= t(".imports_for_account", :account => @account.name) %></h2>

<% if @key_imports.empty? %>
  <p><%= t(".nothing_found") %></p>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <th><%= t(".when") %></th>
        <th><%= t(".who") %></th>
        <th><%= t(".description") %></th>
        <th><%= t(".options") %></th>
      </tr>
    </thead>
    <tbody>
      <% @key_imports.each do |key_import| %>
        <tr>
          <td><%= link_to t(".imported_at", :time => time_ago_in_words(key_import.created_at)), key_import_path(key_import) %></td>
          <td><%= link_to key_import.user.full_name, user_path(key_import.user) %></td>
          <td><%= link_to key_import.description, key_import_path(key_import) unless key_import.description.blank? %></td>
          <td><%= link_to t('.delete'), key_import_path(key_import), :method => :delete, :confirm => t(".really_delete_import") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<p>
  <%= link_to t(".new_import"), new_key_import_path %>
</p>
